@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

*{
    font-family: 'Rubik', sans-serif;
    z-index: 10;
}

body{
    margin: auto;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

button{
    cursor: pointer;
}

header{
    width: 100%;
}

#headerBar{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top: 0;
    background-color: #ffffff;
    position: fixed;
    background-color: white;
    z-index: 10;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

button{
    border: none;
    background: transparent;
}

#logo{
    padding-left: 20px;
}

#categoryContainer > a{
    padding-left: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px;
    font-size: 16px;
}

#categoryContainer > a:hover{
    background-color: rgba(0,0,0,0.2);
    color: white;
}

#rightLinkContainer > a{
    padding-right: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px;
    font-size: 16px;
}

#rightLinkContainer > button{
    padding-right: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: black;
}

#rightLinkContainer > a:hover{
    background-color: rgba(0,0,0,0.2);
    color: white;
}

#rightLinkContainer > button:hover{
    background-color: rgba(0,0,0,0.2);
    color: white;
}

.categories{
    height: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    position: fixed;
    top: 0px;
    display: flex;
    background-color: #fbfbfb;/*#F8F8F8;*/
    z-index: 10;
    visibility: hidden;
}

.categoryListContainer{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.categoryImageContainer{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categoryImage{
    height: 250px;
    width: 400px;
}

.categoryList{
    display: flex;
    flex-direction: column;
    padding: 45px;
}

.mainCategory{
    padding: 8px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 3px solid grey;
    margin-bottom: 24px;
}

.categoryList > li{
    padding: 8px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 10px;
}

.categoryList > li:hover{
    background-color: rgba(0,0,0,0.2);
    color: black;
}

.categoryHeading{
    color: black;
}

#welcomMessage{
    display: flex;
    justify-content: center;
    margin-top: -250px;
}

#cartContents{
    z-index: 200;
    width: 420px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
}

.productsContainer{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 100px;
}

.productDiv{
    width: 30%;
    z-index: 0;
}

.product{
    height: 450px;
    margin-bottom: 60px;
    position: realtive;
}

.product > img{
    width: 100%;
}

.cart{
    border: 1px solid black;
    position: fixed;
    width: 600px;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    visibility: hidden;
}

#closeContainer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    border-bottom: 0.5px solid grey;
    padding-left: 25px;
    padding-right: 25px;
}

#closeContainer > h6{
    font-weight: 400;
}

#closeButton{
    cursor: pointer;
    margin-right: 40px;
}

#bottomCart{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primaryBtn{
    padding: 15px;
    width: 150px;
    border-radius: 25px;
    background-color: blue;
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

#addedItems{
    border: 1px solid black;
    height: 370px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.quickAdd{
    position: relative;
    height: 80px;
    width: 100%;
    bottom: 175px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    box-shadow: 0px 2px 6px grey;
    visibility: hidden;
    z-index: 9;
    cursor: pointer;
}

.cartItem{
    height: 150px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cartThumb{
    height: 100px;
    width: 100px;
    padding-left: 20px;
}

.cartItemDetails{
    display: flex;
    align-items: left;
    justify-content: start;
    flex-direction: column;
}

.cartItemName{
    margin-bottom: 5px;
}